<!-- <div class="form-box"> -->
  <form class="registration" action="/auth/login" method="POST">
    <h4>Log In</h4>
    <label for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email">

    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password">

    <input class="" type="submit" value="Log In">
  </form>
<!-- </div> -->

