<div class="auth-background">

  <form class="registration" action="/auth/login" method="POST">
    <h4 class="center">Log In</h4>

    <div class="input-field">
      <label for="auth-email">Email</label>
      <input id="auth-email" type="email" name="email" class="validate">
    </div>

    <div class="input-field">
      <label for="auth-password">Password</label>
      <input id="auth-password" type="password" name="password" class="validate">
    </div>

    <button class="auth-btn btn waves-effect waves-light indigo lighten-2" type="submit">Log In</button>
  </form>

</div>

