<div class="auth-background">

  <form class="form-box" action="/auth/signup" method="POST">

    <h4 class="center">Sign Up</h4>

    <div class="input-field">
      <label for="new-email">Email</label>
      <input id="new-email" type="email" name="email">
    </div>

    <div class="input-field">
      <label for="new-name">Name</label>
      <input id="new-name" type="text" name="name">
    </div>

    <div class="input-field">
      <label for="new-password">Password</label>
      <input id="new-password" type="password" name="password">
    </div>

    <button class="auth-btn btn waves-effect waves-light indigo lighten-2" type="submit">Create My Account</button>

  </form>
</div>

