<form class="registration" action="/auth/signup" method="POST">
  <h4>Sign Up</h4>
  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email">

  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="name">

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">

  <input type="submit" value="Create My Account">
</form>
