
body {
  background-color: rgb(1, 1, 22);
  color: rgb(224, 231, 235);
}

label {
  color: rgb(66, 66, 82);
}

nav {
  padding-bottom: 70px;
}

footer {
  padding-top: 50px;
}

button {
  box-shadow: none;
  border: none;
  background: none;
}

button:focus {
  background: none;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
} */

.cover {
  object-fit: cover;
  width: 100%;
}

.registration {
  background-color: rgb(179, 217, 219, 0.8);
  color: black;
  width: 350px;
  padding: 40px;
  position: relative;
  top: 160px;
  margin: auto;
  box-shadow: 0 0 1em rgb(179, 176, 176);
}

/* --------------Search Page-------------- */
.search-background {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.imgur.com/XuETSW8.jpg');
}

.search-btn {
  padding: 10px;
  margin-top: 12px;
  width: 100%;
  background-color: rgb(118, 164, 250);
}

.search-btn:hover {
  background-color: rgb(81, 132, 241);
}

/* --------------Gallery Page-------------- */

.gallery-btn {
  padding: 5px;
  margin: 0 auto 20px;
  width: 85%;
  background-color: rgb(18, 64, 150, 0.6);
  box-shadow: 0 2px 10px rgba(111, 111, 111, 0.5);
  border-radius: 4px;
}

.gallery-btn:hover {
  background-color: rgb(82, 121, 228);
  box-shadow: 1px 6px 15px rgba(111, 111, 111, 0.5);
}

.gallery-btn button {
  color: white;
}

/* --------------Detail Page-------------- */

.fave-btn{
  color: white;
  padding: 7px;
  margin: 7px auto 20px;
  width: 200px;
  background-color: rgba(252, 52, 52, 0.6);
  box-shadow: 0 2px 10px rgba(140, 140, 140, 0.5);
}

.fave-btn:hover {
  background-color: rgb(252, 52, 52, 0.8);
  box-shadow: 1px 6px 15px rgba(140, 140, 140, 0.5);
}

/* --------------Profile-------------- */
.flex {
  display: flex;
  justify-content: space-between;
}

.profile-btn {
  margin: 0 20px 10px;
  display: inline-grid;
  background-color: rgb(170, 199, 175);
}

@media (max-width: 900px) {
  .nav-wrapper .brand-logo {
    font-size: 20px;
  }

  .nav-wrapper .brand-logo img {
    height: 22px;
  }
}
  
@media (max-width: 601px) {
  nav {
    line-height: inherit;
  }
}  