
body {
  background-color: rgb(1, 1, 22);
  color: rgb(224, 231, 235);
}

nav {
  padding-bottom: 70px;
}

footer {
  padding-top: 50px;
}

.input-field label {
  color: rgb(80, 80, 80);
}

.cover {
  object-fit: cover;
  width: 100%;
}

.registration {
  background-color: rgb(179, 217, 219, 0.8);
  color: black;
  width: 350px;
  padding: 40px;
  position: relative;
  top: 160px;
  margin: auto;
  box-shadow: 0 0 1em rgb(179, 176, 176);
}

/* --------------Auth Page-------------- */

.auth-background {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.imgur.com/j3HNVfH.jpg');
}

.auth-btn {
  margin-top: 20px;
  width: 100%;
}

/* --------------Search Page-------------- */

.search-background {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.imgur.com/XuETSW8.jpg');
}

.search-background label {
  color: rgb(80, 80, 80);
}

.search-btn {
  margin-top: 12px;
  width: 100%;
}

/* --------------Gallery Page-------------- */

.gallery-btn {
  margin: 0 auto 30px;
  width: 85%;
  color: black;
  box-shadow: 0 0 1rem lightgrey;
}

/* --------------Detail Page-------------- */

.fave-btn{
  margin: 12px auto;
  width: 260px;
  color: black;
  box-shadow: 0 0 1rem pink;
}

.explanation {
  margin: 45px 0;
  line-height: 1.8rem;
}

.comment-box {
  margin-top: 20px;
  background-color: rgb(6, 6, 36);
  box-shadow: 0 0 2rem grey;
}

.comment-item {
   border-bottom: 1px solid grey;
   padding: 18px;
}

.add-comment input{
  color: white;
  /* background-color: cornflowerblue;
  border-radius: 50px; */
}

.comment-btn {
  color: black;
  width: 200px;
}

/* --------------Profile-------------- */

.flex {
  display: flex;
  justify-content: space-between;
}

.profile-btn {
  margin: 0 20px 10px;
  display: inline-grid;
  background-color: rgb(170, 199, 175);
}

@media (max-width: 900px) {
  .nav-wrapper .brand-logo {
    font-size: 20px;
  }

  .nav-wrapper .brand-logo img {
    height: 22px;
  }
}
  
@media (max-width: 601px) {
  nav {
    line-height: inherit;
  }
}  